<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctg.cicd.config.dao.SettingsFunctionDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ctg.cicd.config.entity.SettingsFunction">
        <id column="id" property="id"/>
        <result column="func_uuid" property="funcUuid"/>
        <result column="func_type" property="funcType"/>
        <result column="func_code" property="funcCode"/>
        <result column="func_name" property="funcName"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, func_uuid, func_type, func_code, func_name, create_by, create_time, update_by, update_time
    </sql>

    <select id="getAllFunc" resultType="com.ctg.cicd.config.entity.SettingsFunction">
        select id, func_uuid, func_type, func_code, func_name, create_by, create_time, update_by, update_time
        from cicd_settings_function;
    </select>


</mapper>
