<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctg.cicd.config.dao.SettingsCredentialCodeDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ctg.cicd.config.entity.settings.SettingsCredentialCode">
        <id column="id" property="id" />
        <result column="uuid" property="uuid" />
        <result column="credential_name" property="credentialName" />
        <result column="auth_type" property="authType" />
        <result column="auth_account" property="authAccount" />
        <result column="auth_password" property="authPassword" />
        <result column="node_root_id" property="nodeRootId" />
        <result column="tenant_id" property="tenantId" />
        <result column="deleted" property="deleted" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uuid, credential_name, auth_type, auth_account, auth_password, node_root_id, tenant_id, deleted, create_by, create_time, update_by, update_time
    </sql>

</mapper>
