<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctg.cicd.config.dao.PipelineStageGroupDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ctg.cicd.config.entity.pipeline.PipelineStageGroup">
        <id column="id" property="id" />
        <result column="pipeline_uuid" property="pipelineUuid" />
        <result column="pipeline_id" property="pipelineId" />
        <result column="stage_id" property="stageId" />
        <result column="stage_order" property="stageOrder" />
        <result column="group_order" property="groupOrder" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pipeline_uuid, pipeline_id, stage_id, stage_order, group_order, create_time, create_by, update_time, update_by
    </sql>

</mapper>
