<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctg.pipeline.config.dao.ApplicationDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ctg.pipeline.config.entity.Application">
        <id column="id" property="id" />
        <result column="application" property="application" />
        <result column="description" property="description" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, application, description, create_by, create_time, update_by, update_time, deleted
    </sql>
    <insert id="insertApplication" parameterType="com.ctg.pipeline.config.entity.Application" useGeneratedKeys="true" keyProperty="id">
        insert into p_cfg_application
            (id, application, description, create_by, create_time, update_by, update_time, deleted)
        values (#{id}, #{application}, #{description}, #{createBy},
          #{createTime}, #{updateBy}, #{updateTime},#{deleted})
    </insert>

</mapper>
