<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctg.pipeline.config.dao.PipelineTriggerDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ctg.pipeline.config.entity.PipelineTrigger">
        <id column="id" property="id" />
        <result column="pipeline_config_id" property="pipelineConfigId" />
        <result column="type" property="type" />
        <result column="config" property="config" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pipeline_config_id, type, config
    </sql>

</mapper>
