<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctg.pipeline.config.dao.StageDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ctg.pipeline.config.entity.Stage">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="name" property="name" />
        <result column="config" property="config" />
        <result column="requisite_stageref_Ids" property="requisiteStagerefIds" />
        <result column="stage_order" property="stageOrder" />
        <result column="group_order" property="groupOrder" />
        <result column="task_order" property="taskOrder" />
        <result column="pipeline_config_id" property="pipelineConfigId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type, name, config, requisite_stageref_Ids, stage_order, group_order, task_order, pipeline_config_id
    </sql>

</mapper>
